<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <header>
      <h1>Tubular to-do list!</h1>
    </header>
    <main>
      <form class="new-todo" action="/todos" method="post">
        <input type="text" name="text" value="" placeholder="yoooo, type your totally radical tasks in here!" size=40 required>
      </form>
      <div class="todo-container">

        <h2>Stuff to do:</h2>
        {{#incomplete}}
          {{>_incomplete}}
        {{/incomplete}}
        {{^incomplete}}
          <p>You did all the things!</p>
        {{/incomplete}}

        <h2>Done stuff!</h2>
        {{#complete}}
          <del>{{>_complete}}</del>
          <br>
        {{/complete}}
        {{^complete}}
          <p>You didn't do anything yet. Bummer.</p>
        {{/complete}}
      </div>
    </main>
  </body>
</html>
